{% load static from staticfiles %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="{% static 'tkartapp/store.js' %}"></script>
  <link rel="stylesheet" href="{% static 'tkartapp/store.css' %}" type="text/css" media="screen"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<div>
  <h2 class="text-center">Cart Items:</h2> <a href="/tkartapp/logout/" class="text-right">Logout</a>
</div>
<div  class="row padding20 center-block">
  {% for shirt in cart%}
<p>{{shirt.name}} -- {{shirt.size}} -- {{shirt.price}} </p>

  {% endfor %}
</div>

