{% load static from staticfiles %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'tkartapp/store.css' %}" type="text/css" media="screen"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<div>
  <h2 class="text-center">Checkout:</h2><a href="/tkartapp/logout/" style="right:10px;position:fixed;">Logout</a>
</div>
<div  class="row padding20 center-block">
<h3>Summary:</h3>
<h4>You have purchased {{quantity}} item(s) and your total cost is {{price}} </h4>

<a href= "/tkartapp/store/">Shop Again</a>
</div>

