{% load static from staticfiles %}
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'tkartapp/create.css' %}" type="text/css" media="screen"/>
</head>
<div class="center-block row">
  <h3 class="text-center">Delete Item from Inventory:</h3>
<div class="col-xs-12 center-block" style="padding-top:20px;">
<form method="post" class="text-center center-block">{% csrf_token %}
  Are you sure you want to delete "{{ object }}" ?<br/>
    <input type="submit" value="Submit" class="btn btn-default"/>
</form>
</div>
</div>
