{% load static from staticfiles %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'tkartapp/store.css' %}" type="text/css" media="screen"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<div>
  <h2 class="text-center">Welcome to Tkart Store</h2><a href="/tkartapp/logout/" style="right:10px;position:fixed;">Logout</a>
  <a href="/tkartapp/store/viewcart/"> ViewCart </a>
</div>
  {% if  message %}
  <div class="alert alert-info message">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <p>{{message}}</p>
  </div>
  {% endif %}
<div  class="row padding20 center-block">
{% if shirts %}
    {% for shirt in shirts %}
    <div class="col-lg-3 center-block" id="{{shirt.id}}">
      <!--<img src="../../static/tkartapp/images/shirt{{shirt.id}}.jpg" class="center-block" height="200" width="200"> -->
      <img src="{{shirt.url}}" class="center-block" height="200" width="200">
      <h4 class="text-center"><span id="name{{shirt.id}}">{{shirt.name}}</span> -- <span id="price{{shirt.id}}">Rs.{{shirt.price}} </span></h4>
      <p class="text-center" id="description{{shirt.id}}">{{shirt.description}}</p>
      <p class="text-center"> <span id="size{{shirt.id}}">Size:&nbsp;{{shirt.size}} &nbsp;</span> <span id="qty{{shirt.id}}">Qty:&nbsp;{{shirt.quantity}}</span> </p>
      <form action="/tkartapp/store/add_to_cart/" method="post">{% csrf_token %}
      <input type="hidden" name="id" value="{{ shirt.id}}">
      <!--
         -<input type="hidden" name="name" value="{{shirt.name}}">
         -<input type="hidden" name="size" value="{{shirt.size}}">
         -<input type="hidden" name="price" value="{{shirt.price}}">
         -->
         <label>Qty:</label> <input type="number" value="{{ shirt.ordered_quantity }}" name="quantity">
      <input type="submit" value="Add To Cart" class="btn btn-primary">
    </form>
    <!--<a href="/tkartapp/store/add_to_cart/{{shirt.id}}" class="text-center center-block">Add to Cart</a> -->
    </div>
    {% endfor %}
</div>
{{request.session.cart}}
{% else %}
    <p>No shirts are available.</p>
{% endif %}
